Data
Outputs
Lakes/ecco-biwa_lakes_v
*.pyc
*checkpoint.ipynb
testing_problems
Lakes/*
Metadata/*
Untitled0.ipynb
chunk_shape_3D.py
test_new.ipynb
test_pic.jpgw
.directory
.wget_EUR-11.KNMI_all.sh.status
Wget_Create/Input/*
Wget_Create/Output/*
test
test.pdf
test2.pdf
test3.pdf
test4.pdf
test5.pdf
.DS_Store
.httprc
Archive.zip
CORDEX/
Country_shapes.ipynb
Debugging.ipynb
Density_DMI_PR.pdf
Density_DMI_TAS.pdf
Density_KNMI_PR.pdf
Density_KNMI_TAS.pdf
Density_Lakes.eps
Density_Lakes.pdf
Explore_CORDEX.ipynb
Figures/
Find_unique_pixel_lakes.ipynb
Interactive_plots_xy.ipynb
Lakes_big.html
Lakes_big.html.zip
Meta_Lakes_xy.html
Meta_Lakes_yz.html
Produce_density_plots.ipynb
README.md.BACKUP.9848.md
README.md.BASE.9848.md
README.md.LOCAL.9848.md
README.md.REMOTE.9848.md
README.md.orig
Untitled1.ipynb
Untitled2.ipynb
Z_1970_1980_IPSL_tas.npy
Z_2000_2010_tas_IPSL.npy
Z_test.npy
backends.py
certs/
creds.pem
esgf_auth_backend/
iPlots_CORDEX.ipynb
iPlots_yz_and_Density.ipynb
maps.html
myproxy_logon.py
part4a_write.txt
part5b_write.txt
pythongdaltest.py
scratch_koji/
security_key