Data
Outputs
Lakes/ecco-biwa_lakes_v
*.pyc
*checkpoint.ipynb
testing_problems
Lakes/*
Metadata/*
Untitled0.ipynb
chunk_shape_3D.py
test_new.ipynb
test_pic.jpgw
.directory
.wget_EUR-11.KNMI_all.sh.status